node_modules/
build/
.antora-cache/
ui/ui-bundle.zip
ui/ui-bundle-extract/
modules/docs/pages/readme-repo.adoc
modules/docs/pages/readme-karate.adoc
modules/docs/pages/readme-microservice.adoc
modules/docs/pages/readme-archetype.adoc
modules/docs/pages/readme-docs.adoc
